

/*Komentarz*/
/*
p{
    font-size: 18px;
    color: red;
}

#header p{
    font-size: 24px;

}
/*Style all header tags*/
/*
h1{
    font-size: 44px;

}

TARGETING ELEMENTS
*/
/*
p{
    font-size: 12px;
    color: red;
}
a{
    text-decoration: underline;
    color: blue;
}
span{
    text-transform: uppercase;
}
h1{
    font-size: 32px;
}
div{
    width: 100%;
    background-color: grey;
}
*/
/*
h2{
    font-size: 24px;
}
#content-header{
    font-size: 18px;
    color: red;
}
span{
    display: block;
    color: blue;    
}
.deck{
    color: blueviolet;
}

Important declaration*/
/*
p{
    color: red !important;
}

#main-content p{
    color: green;
}

Targeting Multiple Elements*/
/*
p, span, a, li{
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
}

Descendant Selectors*/
/*
#main-content #sub-content  p{
    color: red;
}

Childen*/
/*
#main-content > p{
    color: red;
}
Adjacent Selectors*/

/*#all-articles h2 + p{
    color: green;
}

Atributes selectors*/

/*span[class~="deck"]{
    color: purple;
}

div[id]{
    background: grey;
}
a[title]{
    color: purple;
}
a[title="Search engine"]{
    color: yellow;
}

a[href$="pdf"]{
    color: green;
}

Pseudo-Classes*/
/*
a:hover{
    color: red;
}

#main-content:hover{
    color: red;
}
First and last child selectors*/

/*
article p:first-child{
    font-weight: bold;
    }

article p:last-child{
    color: red;
}
First and last of-type selectors*/

/*article p:first-of-type{
    font-weight: bold;
    }

article p:last-of-type{
    color: red;
    */

/*li:nth-child(1), li:nth-child(7){
 font-weight: bold;
}

li:nth-child(even){
    background: grey;
}
li:nth-child(odd){
    background: pink;
}
li:nth-child(3n + 1){
    color: yellow;
}*/

/*article:nth-of-type(2n+2){
    background: grey;
}*/

/*article.featured-content{
    background: red;
}

div.featured-content{
    background: blue;
}
Universal selector*/
/*
*{
    margin: 0;
    padding: 0;
    color: black;
}
*/
/*article{
    font-size: 16px;

}
article h2{
    font-size: 3em;
}
article p{
    font-size: 75%;
}
*/
article h2, article p{
    font-family: xfont, Hfot, serif;
}
