#circle{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(200, 200, 100);
    border-radius: 200px;
    top: 50px;
    left: 50px;
    opacity: 1;
    text-align: center;
}

#circle2{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(200, 100, 200);
    border-radius: 200px;
    top: 250px;
    left: 150px;
    opacity: 0.3;
    text-align: center;
}

#circle3{
    width: 400px;
    height: 400px;
    position: absolute;
    /*rgba kontroluje kolor tła razem 
    z ew. transpraretntnością BEZ TEKSTU!*/
    background: rgba(100, 200, 200, 0.1);
    border-radius: 200px;
    top: 50px;
    left: 250px;

    text-align: center;
}